// font family 

$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family:  "Baskervville SC", system-ui;
$third-font-family:  "Poppins", sans-serif;


//background-color
$primary-bg-color:lightpink;
$secondary-bg-color:#efebf0;
$third-bg-color:#d0cabc;
//

//text color 
$primary-text-color:#1086ae;
$secondary-text-color:#FF8F00;

//new bg color 
$new-bg-color-one:#E9FF97;
$new-bg-color-two:#FFD18E;
$new-bg-color-three:#FFA38F;
$new-bg-color-four:#FF7EE2;

