@import 'variable';
@import 'mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font-family;

}

body {

    overflow-x: hidden;
    a {
        text-decoration: none;
        color: black
    }
}

.section-heading {
    font-size: 3.5rem;
    font-family: $secondary-font-family;

}

.normal-btn-1 {
    border: 1px solid green;
    color: green;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.368)
}


//google font 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//google fonts
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');


.home-main-nav {
    .home-main-nav {
        background-color: $secondary-bg-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        // border: 1px solid black;

        .logo-box {
            img {
                max-width: 100px;
                transform: scale(1.5);
            }
        }

        .middle-box {
            .middle-box-ul {
                display: flex;
                align-items: center;
                justify-content: center;
                // gap: 1.5rem;
                list-style-type: none;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 18px;

                li {
                    // border: 1px solid black;
                    padding: 0.4rem 2rem;
                    border-radius: 0.5rem;
                    transition: all 0.5s ease;

                    i {
                        font-size: 12px;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: $primary-bg-color;

                        i {
                            transform: rotate(360deg);
                        }
                    }
                }

                .drop-down-li {
                    &:hover {
                        .visible-on-hover {
                            display: block;
                        }
                    }

                    .visible-on-hover {
                        display: none;

                        .home-nav-middle-li-dropdown {
                            background-color: $secondary-bg-color;
                            transition: all 1s ease;
                            position: absolute;
                            top: 4rem;
                            z-index: 9;
                            border-bottom: 1px solid black;
                            width: 100%;
                            right: 0;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 3rem 2rem;

                            ul {
                                list-style-type: none;
                            }
                        }
                    }
                }
            }
        }

        .right-box {
            ul {
                display: flex;
                align-items: center;
                gap: 2.5rem;
                list-style-type: none;
                margin-bottom: 0;
                font-size: 18px;

            }

            .offcanvas {
                .offcanvas-header {
                    padding: 5px 1rem;
                    border-bottom: 1px solid grey;
                }
            }
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .mobile-menu {
        display: none;
    }
}

.yours-vibes-main {
    // border: 1px solid black;
    background-color: #efebf0;
    padding: 2rem 1rem;

    .first-heading {
        padding: 3rem;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            font-family: $secondary-font-family;
            text-align: center;
            color: #1086ae;
        }
    }

    .images-section-vibe {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;

        a {
            text-decoration: none;
            color: black;
        }

        .section-vibe-main-box {

            .img-box-main {
                // padding: 0.5rem;
                height: 525px;
                width: 393px;
                transition: all 0.2 ease;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                        filter: opacity(80%);
                    }
                }

                img {

                    transition: all 0.5s ease;
                    height: 525px;
                    width: 393px;

                }


            }

            .vibe-img-text {
                border-radius: 1rem;
                padding: 0.5rem;
                padding-left: 2px;


                &:hover {
                    background-color: rgba(128, 128, 128, 0.071);

                    i {
                        transform: translate(20px) scale(1.2);
                        color: $secondary-text-color ;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-size: 1.5rem;
                    font-family: $secondary-font-family;

                    i {
                        transition: all 0.4s ease-in-out;
                    }

                }

                .vibe-text-1 {
                    font-weight: 600;
                    font-size: 2rem;
                    color: $secondary-text-color;


                }
            }
        }
    }
}

.new-arrival-section-main {
    background-color: $third-bg-color;
    padding: 3rem 0.5rem;
    // max-height: 100vh;

    .new-arrival-heading {
        text-align: center;
        padding: 2rem;

        h2 {
            font-size: 3.5rem;
            font-family: $secondary-font-family;
            font-weight: 600;
            color: $primary-text-color;
        }
    }

    .hidden {
        display: none;
    }

    .new-arrival-main-new-row {
        display: flex;
        flex-direction: row;
    }

    .arrival-ul {
        ul {
            // border: 1px solid black;
            padding: 1rem;
            display: flex;
            justify-content: center;
            gap: 5rem;
            list-style-type: none;

            li {
                font-size: 18px;
                font-weight: 600;
                border-bottom: 3px solid transparent;
                transition: all 0.5s ease;


                &:hover {
                    border-bottom: 3px solid black;
                }


            }

            .arrival-first-li {
                &:focus {
                    .new-arriv-main-row {
                        display: none;
                    }
                }
            }
        }
    }

    .new-arriv-main-row {
        display: flex;
        gap: 2rem;

        .new-arriv-main-box {
            position: relative;

            .heart-icon {
                right: 1.2rem;
                text-align: end;
                position: absolute;
                top: 1rem;

                i {
                    font-size: 1.5rem;
                    // font-weight:500;
                    color: white;
                }
            }

            .new-arriv-img-text-box {
                padding: 1rem;
                padding-left: 0;

                p {
                    margin-bottom: 8px;
                    font-size: 18px;

                    .buy-now-btn {
                        @include button;
                        margin-left: 2rem;

                    }
                }
            }

        }
    }
}

.star-section-main {
    padding: 3rem 0.5rem;

    .wedding-edit-heading-main {
        padding: 2rem;

        h2 {
            font-family: $secondary-font-family;
            font-size: 3rem;
            text-align: center;
            font-weight: 600;
        }

    }

    .wedding-edit-main-row {
        display: flex;
        gap: 2rem;
        justify-content: center;

        .wedding-edit-main-box {

            .edit-container {


                .img-box-main {
                    max-width: 280px;
                    max-height: 350px;
                    min-width: 260px;
                    min-height: 300px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }

                .text-box-main {
                    // padding: 2rem;
                    text-align: center;

                    p {
                        margin-bottom: 0;
                        font-size: 2rem;
                        text-transform: capitalize;
                        font-family: $secondary-font-family;
                    }
                }
            }

        }
    }
}

.kids-collection-main {
    border-color: $third-bg-color;

    img {
        max-height: 80vh;
        width: 100%;
        // position: fixed;
    }

    button {
        position: relative;
        bottom: 5rem;
        left: 40%;
        padding: 0.3rem 2rem;
        border-radius: 1rem;
        background-color: goldenrod;
        border: none;
    }

}

.call-section-main {
    background-color: $third-bg-color;
    position: relative;
    top: -3rem;
    padding: 4rem 0rem;

    .call-text-main {
        padding: 4rem 3rem;

        .call-text-1 {
            font-size: 4rem;
            font-family: $secondary-font-family;
            font-weight: 600;
        }

        .call-text-2 {
            font-weight: 500;
        }

        button {
            margin: 2rem;
            width: 100%;
            margin-left: 0;
            background-color: goldenrod;
            border: none;
        }
    }

    .call-section-main-img {
        height: 100%;
        // border: 1px solid black;
        text-align: center;

        img {
            width: 100%;
        }
    }
}

.home-footer-main {
    position: relative;
    background-color: $secondary-bg-color;

    // border: 1px solid black;
    .logo-main {
        // border: 1px solid black;
    }

    .suscribe-box-main {
        align-items: center;
        height: 100%;
        display: flex;
        align-items: center;

        p {
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 500;
        }

        input {
            padding-left: 1rem;
            border-radius: 1rem;
            border: 1px solid black;
        }
    }

    .footer-main-row {
        display: flex;
        justify-content: space-between;

        .footer-main-column {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 2rem;
            min-width: 20%;

            ul {
                list-style-type: none;

                li {
                    padding: 5px;
                }
            }

            .footer-column-first-li {
                padding: 1rem 0rem;
                font-size: 18px;
                font-weight: 600;
            }
        }

    }

    .footer-bottom-row {
        padding: 0.5rem;

        p {
            text-align: center;
            margin-bottom: 5px;
        }
    }
}


//media query
//for mobile width
@media only screen and (min-width:0px) and (max-width:576px) {
    body {
        // overflow-x: hidden;
    }

    .home-main-nav .home-main-nav .middle-box {
        display: none;
    }

    .home-main-nav .home-main-nav {
        .right-box {
            .nav-right-li {
                display: none;
            }

            .nav-right-last-li {
                display: block !important;
            }
        }
    }

    .home-main-nav {


        .mobile-menu {
            display: block;
        }
    }

    .yours-vibes-main {
        padding: 0rem;
    }

    .yours-vibes-main .first-heading {
        padding: 0rem;
    }

    .yours-vibes-main .images-section-vibe {
        flex-wrap: wrap;
    }

    .yours-vibes-main .images-section-vibe .section-vibe-main-box .img-box-main img {
        height: auto;
        width: 250px;
    }

    .yours-vibes-main .images-section-vibe .section-vibe-main-box .img-box-main {
        height: auto;
        width: 250px;
    }

    .new-arrival-section-main .new-arriv-main-row {
        flex-wrap: wrap;
    }

    .star-section-main .wedding-edit-main-row {
        flex-wrap: wrap;
    }

    .call-section-main .call-text-main {
        padding: 0;
    }

    .call-section-main .call-text-main .call-text-1 {
        font-size: 2.1rem;
    }

    // .call-section-main .call-text-main .call-text-1{
    //     flex-wrap: wrap;
    // }
    .home-footer-main .footer-main-row {
        flex-wrap: wrap;
    }

    html {
        overflow-x: hidden;
    }

    .home-main-nav .home-main-nav .logo-box img {
        transform: none;
        max-height: 100px;
    }

    .new-arrival-section-main .arrival-ul {
        gap: 2rem;

    }

    .new-arrival-section-main {
        padding: 2rem 0.5rem;
    }

    .home-footer-main .suscribe-box-main p {
        font-size: 1rem;
    }
}

//home2-page-css start
.home2-header-main {

    .home2-nav-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem;

        .nav-logo-main {
            position: relative;
            z-index: 10;
        }

        .nav-middle-main {
            .home2-middle-ul-main {
                display: flex;
                // gap: 2rem;
                list-style-type: none;
                margin-bottom: 0;
                font-weight: 600;
                font-family: $secondary-font-family;

                li {
                    // border: 1px solid black;
                    border-radius: 0.5rem;
                    padding: 0.5rem 1.6rem;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: lightgrey;
                    }
                }

                .hover-dropdown {
                    &:hover {
                        .dropdown-hoverable-container {
                            display: block;
                        }
                    }

                    .dropdown-hoverable-container {
                        display: none;
                        transition: all 1s ease;

                        .main-dorpdown-container {
                            display: flex;
                            justify-content: space-evenly;
                            position: absolute;
                            z-index: 9;
                            background-color: white;
                            width: 100%;
                            left: 0;
                            padding: 2.5rem;

                            .dropdown-main-column {
                                ul {
                                    list-style-type: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .nav-right-main {
            .nav-right-main-ul {
                display: flex;
                list-style-type: none;
                margin-bottom: 0;
                font-weight: 600;

                li {
                    border-radius: 0.5rem;
                    padding: 0.5rem 1rem;
                    font-size: 18px;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: lightgrey;
                    }

                    .offcanvas {
                        .offcanvas-body {
                            // padding: 8px;
                            font-size: 14px;

                            .offcanvas-mans-collection {
                                padding: 0.5rem;

                                h5 {
                                    font-weight: 600;
                                }

                                p {
                                    font-weight: 400;
                                }

                                .mans-wear-images {
                                    display: flex;
                                    justify-content: space-evenly;

                                    img {
                                        border-radius: 1rem;
                                    }

                                }

                                .shop-now-btn {
                                    padding: 1rem;
                                    padding-left: 0;

                                    button {
                                        border-radius: 1rem;
                                        padding: 5px 1rem;
                                        background-color: transparent;
                                        border: 2px solid green;
                                        color: green;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Explore section main
.explore-main-sec {
    padding: 3rem 0.5rem;

    .explore-main-heading {
        padding: 1rem;

        h3 {
            font-family: $secondary-font-family;
            font-size: 3.5rem;
        }
    }

    .explore-main-row {
        padding: 1rem;

        .explore-main-column {
            padding: 0.5rem;

            img {
                transition: all 1s ease;
                border-radius: 0.5rem;

                &:hover {
                    filter: brightness(0.5);
                }
            }

            .text-box {
                padding: 0.5rem;

                p {
                    margin-bottom: 0;
                    font-family: $secondary-font-family;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .btn-box {
                    padding: 1rem;

                    button {
                        border: 1px solid green;
                        color: green;
                        padding: 0.5rem 2rem;
                        border-radius: 1rem;
                    }
                }
            }

        }
    }

}

//best selling main
.best-selling-main {
    padding: 3rem 0.5rem;
    background-color: lemonchiffon;

    .best-selling-heading {
        padding: 2rem;
        padding-left: 3rem;

        h3 {
            font-size: 3.5rem;
            font-weight: 500;
            font-family: $secondary-font-family;
        }
    }

    .best-selling-main-row {
        display: flex;
        justify-content: space-evenly;
        font-family: $third-font-family;
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;

        transition: transform 0.5s ease-in-out;

        .best-selling-pro-box {
            padding: 1rem;

            .img-box {
                min-width: 300px;
                min-height: 400px;

                img {
                    width: 100%;
                    border-radius: 1rem;
                }
            }

            .text-for-img {
                // border: 1px solid black;
                padding: 0.5rem;
                text-align: center;

                p {
                    font-size: 18px;
                    font-weight: 500;
                }

                button {
                    border: 1px solid green;
                    color: green;
                    padding: 0.3rem 2rem;
                    border-radius: 1rem;
                }
            }
        }
    }

}

//new arrival section 
.new-arival-sec {
    padding: 3rem 0.5rem 5rem 0.5rem;

    .new-arrival-heading {
        padding: 1rem;
    }

    .new-arrival-category {
        padding: 0rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .category-box {
            padding: 0.5rem 3rem;
            border-bottom: 3px solid white;
            border-radius: 5px;
            margin: 0rem 0.5rem;
            transition: all 1s ease;

            &:hover {
                border-bottom: 3px solid green;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            }

            p {
                margin-bottom: 0;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: $secondary-font-family;

            }
        }
    }

    .new-arival-img-row {

        .new-arrival-column-main {
            justify-content: center;
            text-align: center;
            max-width: 350px;

            img {
                border-radius: 0.5rem;
                max-width: 300px;
            }
        }

        .image-text-box {
            padding: 1rem;
            font-size: 18px;

            p {
                margin-bottom: 2px;
                font-weight: 500;
            }

            button {
                padding: 0.2rem 0.8rem;
                font-size: 14px;
                margin-left: 1rem;
            }
        }
    }
}

.wedding-edit-sec {
    padding: 3rem 0rem;
    background-color: lemonchiffon;

    .wedding-edit-row {
        padding: 2rem;

        img {
            border-radius: 0.5rem;
        }

        .text-box {
            padding: 0.5rem;

            p {
                font-size: 2rem;
                font-family: $secondary-font-family;
                margin-bottom: 0;
                font-weight: 500;
                // color: ;
            }
        }
    }

}

.Kids-collection-section {
    background-color: lemonchiffon;

    img {
        width: 100vw;
        max-height: 100vh;
    }
}

.blogs-section {
    padding: 3rem 0rem;
    background-color: lemonchiffon;

    .blogs-images {
        text-align: center;

        .blog-text {
            text-align: start;
            font-size: 15px;
            padding: 5px;
            padding-left: 0;

            p {
                // margin-bottom: 5px;
            }

            a {
                text-decoration: underline;
                color: orange;
            }
        }
    }
}

//home-2 footer 
.home2-footer-main {
    background-color: #502710f3;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: white;

    .home2-first-row {
        border-bottom: 1px solid white;

        .footer-web-logo {

            // border-right: 1px solid black;
            img {
                width: 150px;
            }
        }

        p {
            display: flex;
            align-items: center;
            justify-content: end;
            font-size: 18px;
            margin-bottom: 0;
            height: 100%;

            input {
                padding: 5px 0.8rem;
                margin-left: 5px;
                border-radius: 0.8rem;
                border: 1px solid white;
            }
        }
    }

    .home2-footer-main-row {
        padding: 1rem 0rem;

        .home2-footer-columns {
            h5 {
                // border-bottom: 1px solid grey;
                padding: 1rem;
                padding-left: 0;
            }

            ul {
                padding-left: 5px;
                list-style: none;

                li {
                    padding: 0.3rem 0rem;
                    font-weight: 500;

                    a {
                        color: white !important;
                    }

                    i {
                        font-size: 1.4rem;
                        margin: 0.5rem;
                        color: white !important;
                    }
                }
            }
        }
    }

    .home2-footer-lest {
        // border: 1px solid black;
        border-top: 1px solid white;
        padding-top: 1rem;

        // text-align: center;
        p {
            margin-bottom: 0;
        }

        a {
            color: white !important;
        }

        i {
            font-size: 20px;
            margin: 0rem 0.5rem;
            color: white;

        }
    }
}

//second home pages media query

@media only screen and (max-width: 576px) {
    .home2-header-main {
        .home2-nav-main {
            padding: 0;
        }

        .nav-middle-main {
            display: none;
        }

        .nav-right-main {
            display: none;
        }

        .nav-logo-main {
            img {
                width: 80px;
            }
        }
    }

    .explore-main-sec {
        padding: 0rem;

        .explore-main-heading h3 {
            font-size: 1.8rem;
        }
    }

    .explore-main-sec .explore-main-row .explore-main-column .text-box p {
        font-size: 1.5rem;
    }

    .explore-main-sec .explore-main-row .explore-main-column .text-box .btn-box {
        padding: 0.3rem;
    }

    .explore-main-sec .explore-main-row .explore-main-column .text-box .btn-box button {
        padding: 0.2rem 1rem;
    }

    .best-selling-main {
        padding: 0rem;
    }

    .best-selling-main .best-selling-heading {
        padding: 0.5rem;
    }

    .best-selling-main .best-selling-heading h3 {
        font-size: 1.8rem;
    }

    .best-selling-main .best-selling-main-row .best-selling-pro-box .img-box {
        min-width: 200px;
        min-height: 265px;
    }

    .new-arival-sec {
        padding: 0px;
    }

    .new-arival-sec .new-arrival-category .category-box {
        padding: 0.5rem 1rem;
    }

    .new-arival-sec .new-arival-img-row .new-arrival-column-main img {
        border-radius: 0.5rem;
        max-width: 130px;
    }

    .new-arival-sec .new-arival-img-row .image-text-box {
        padding: 0;
        font-size: 12px;
    }

    .new-arival-sec .new-arival-img-row .new-arrival-column-main {
        padding: 0.5rem;
    }

    .new-arival-sec .new-arival-img-row .image-text-box button {
        padding: 3px 12px;
        font-size: 14px;
        margin-left: 0;
    }

    .new-arival-sec .new-arrival-category {
        padding-bottom: 0;
    }

    .section-heading {
        font-size: 1.8rem;
        padding: 1.5rem;
    }

    .wedding-edit-sec {
        padding: 0rem;
    }
    .wedding-edit-sec .wedding-edit-row {
        padding: 0rem;
    }
    .wedding-edit-sec .wedding-edit-row .text-box p {
        font-size: 1rem;
    }
    .wedding-edit-sec .wedding-edit-row .wedding-clothe-column{
        padding: 1rem;
    }
    .blogs-section{
        padding: 0rem;
        .blogs-sec-heading {
            padding: 0;
            .section-heading{
                padding: 0;
            }
        }
    }
    .blogs-section .blogs-images {
        
        padding: 1rem;
        .blog-text{
            p{
                font-size: 12px;
                margin-bottom: 2px;
            }
        }
    }
    .blogs-section .blogs-images .blog-text a {
        font-size: 12px;
    }
    .home2-footer-main{
        padding: 0rem;
        .footer-web-logo{
            padding: 0;
            img{
                max-width: 100px;
            }
        }
        .footer-input-box{
            padding: 0rem;
            text-align: center !important;
            padding-bottom: 5px;
            p{
                font-size: 12px;
                input{
                    padding: 5px;
                }

            }
        }
    }
    .home2-footer-columns{
        min-width: 50vw;
    }
    .home2-footer-main .home2-footer-main-row .home2-footer-columns h5{
        font-size: 16px;
        padding: 2px;
    }
    .home2-footer-main .home2-footer-main-row .home2-footer-columns ul li {
        padding: 0.1rem 0rem;
        font-weight: 400;
        font-size: 13px;
    }
}